h1 {
    font-size: 50px;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
}

.color {
    color: orange;
}

.flexible_container {
    display: flex;
    margin-top: 100px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.text {
    width: 50%;
    padding: 5%;
}

.imag {
    width: 10px;

}

.HIRE_ME_BUTTON {
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
}

.banner {
    background-image: url(images/top-banner.png);
    background-repeat: 0;
}

.dream {
    display: flex;
}

.imag2 {
    width: 50%;
}

.text2 {
    width: 50%;
    padding-left: 10px;
}

.resuem {
    text-decoration: none;
    background-color: aqua;
    border-radius: 15px;
    padding: 10px 20px;
}

.fd {
    display: flex;
}

.banner {
    display: flex;
    background-repeat: no-repeat;
}

.text3 {
    box-shadow: 10px 20px 30px;
    width: 50%;
    margin: 5%;
    padding: 10px;
    border-left: orange solid 10px;
    border-radius: 10px;
}